[submodule "jade/lib/h5bp"]
	path = jade/lib/h5bp
	url = git@github.com:sinsunsan/jade-html5-boilerplate.git
[submodule "compass/sass/lib/mixy"]
	path = compass/sass/lib/mixy
	url = git@github.com:sinsunsan/mixy.git
[submodule "js/lib/mixy"]
	path = js/lib/mixy
	url = git@github.com:sinsunsan/mixy.js.git
